.kissa {
  display: block;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  background-color: rgb(0,0,0);
}

.kirosanabingo {
  display: block;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(0,0,0);
}
